In [5]:
# importing libraries
import numpy as np
import pandas as pd

In [7]:
# load the dataset and print 10 rows
df=pd.read_csv('C:\\Users\\HP\\Downloads\\BMW_Car_Task\\BMW_cartask\\BMW_car_data.csv')
df.head(10)

,ID,Model_Name,Variant,Year,Fuel_Type,Transmission,Engine_CC,Power_BHP,Torque_Nm,Mileage_kmpl,Price_Ex_Showroom,Owner_Type,Insurance_Valid_Till,Location,Registration_State
0,1,X5,xDrive,2019,Electric,Manual,1496,395.18,492.04,20.48,68.33,Second,2022,Hyderabad,KA
1,2,X5,Luxury Line,2016,Electric,Automatic,1496,312.78,708.05,8.12,118.58,Second,2020,Chennai,DL
2,3,Z4,M Sport,2012,Electric,Semi-Automatic,4395,604.45,550.74,16.24,109.90,Second,2022,Hyderabad,DL
3,4,X7,M Sport,2013,Hybrid,Semi-Automatic,4395,383.04,413.78,9.80,41.05,Fourth & Above,2023,Hyderabad,DL
4,5,X7,xDrive,2010,Electric,Manual,2993,315.78,632.13,23.47,111.08,First,2024,Chennai,TS
5,6,X1,M Sport,2012,Petrol,Manual,2993,193.38,457.96,24.68,124.46,Second,2021,Kolkata,KA
6,7,M3,Standard,2014,Hybrid,Semi-Automatic,4395,480.93,692.57,18.16,35.15,Third,2022,Bangalore,DL
7,8,320d,Sport Line,2015,Electric,Semi-Automatic,1496,203.37,723.20,14.99,134.32,Third,2023,Ahmedabad,MH
8,9,X3,Sport Line,2019,Electric,Manual,1998,609.33,705.88,20.56,52.42,Second,2020,Pune,DL
9,10,i8,Luxury Line,2015,Petrol,Manual,1998,386.49,306.52,9.49,115.32,Fourth & Above,2020,Ahmedabad,MH

In [8]:
#display shape
df.shape

(100000, 15)

In [9]:
#display columns
df.columns

Index(['ID', 'Model_Name', 'Variant', 'Year', 'Fuel_Type', 'Transmission',
       'Engine_CC', 'Power_BHP', 'Torque_Nm', 'Mileage_kmpl',
       'Price_Ex_Showroom', 'Owner_Type', 'Insurance_Valid_Till', 'Location',
       'Registration_State'],
      dtype='object')

In [10]:
#display data types
df.dtypes

ID                        int64
Model_Name               object
Variant                  object
Year                      int64
Fuel_Type                object
Transmission             object
Engine_CC                 int64
Power_BHP               float64
Torque_Nm               float64
Mileage_kmpl            float64
Price_Ex_Showroom       float64
Owner_Type               object
Insurance_Valid_Till      int64
Location                 object
Registration_State       object
dtype: object

In [11]:
# Filter cars manufactured after 2020.
filtered_df = df[df['Year']>2020]
df

,ID,Model_Name,Variant,Year,Fuel_Type,Transmission,Engine_CC,Power_BHP,Torque_Nm,Mileage_kmpl,Price_Ex_Showroom,Owner_Type,Insurance_Valid_Till,Location,Registration_State
0,1,X5,xDrive,2019,Electric,Manual,1496,395.18,492.04,20.48,68.33,Second,2022,Hyderabad,KA
1,2,X5,Luxury Line,2016,Electric,Automatic,1496,312.78,708.05,8.12,118.58,Second,2020,Chennai,DL
2,3,Z4,M Sport,2012,Electric,Semi-Automatic,4395,604.45,550.74,16.24,109.90,Second,2022,Hyderabad,DL
3,4,X7,M Sport,2013,Hybrid,Semi-Automatic,4395,383.04,413.78,9.80,41.05,Fourth & Above,2023,Hyderabad,DL
4,5,X7,xDrive,2010,Electric,Manual,2993,315.78,632.13,23.47,111.08,First,2024,Chennai,TS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Z4,Sport Line,2014,Hybrid,Semi-Automatic,1998,208.30,385.44,9.83,99.15,First,2022,Chennai,TN
99996,99997,Z4,Sport Line,2021,Electric,Automatic,1496,562.64,730.43,13.45,70.56,Third,2021,Bangalore,TS
99997,99998,M4,Standard,2012,Hybrid,Automatic,2993,140.86,386.50,14.44,44.46,Fourth & Above,2024,Kolkata,DL
99998,99999,X7,Luxury Line,2015,Electric,Manual,4395,434.00,548.41,14.93,84.82,Second,2022,Chennai,TS
99999,100000,520d,Luxury Line,2020,Electric,Semi-Automatic,1496,392.05,307.86,13.97,77.14,Second,2022,Pune,DL

In [12]:
# Sort dataset by Price_Ex_Showroom descending.
df.sort_values(by=['Price_Ex_Showroom'], ascending = False).head(3)

,ID,Model_Name,Variant,Year,Fuel_Type,Transmission,Engine_CC,Power_BHP,Torque_Nm,Mileage_kmpl,Price_Ex_Showroom,Owner_Type,Insurance_Valid_Till,Location,Registration_State
86274,86275,X7,M Sport,2024,Petrol,Manual,4395,374.25,350.79,19.55,135.0,Fourth & Above,2022,Bangalore,KA
97582,97583,X7,M Sport,2012,Petrol,Manual,1496,589.90,538.34,22.72,135.0,Second,2025,Kolkata,MH
62468,62469,520d,M Sport,2016,Hybrid,Semi-Automatic,1496,499.83,719.86,24.54,135.0,Fourth & Above,2020,Ahmedabad,DL

In [13]:
# list unique car models 
df['Model_Name'].nunique()

10

In [14]:
# list unique values of fuel type
df['Fuel_Type'].nunique()

4

In [15]:
# count how many cars per fuel type
df['Fuel_Type'].value_counts()

Fuel_Type
Petrol      25125
Diesel      25089
Hybrid      24934
Electric    24852
Name: count, dtype: int64

In [16]:
# filter only automatic transmission BMW'S only
con=df['Transmission']=='Automatic Transmission'
df[con].head()

Empty DataFrame
Columns: [ID, Model_Name, Variant, Year, Fuel_Type, Transmission, Engine_CC, Power_BHP, Torque_Nm, Mileage_kmpl, Price_Ex_Showroom, Owner_Type, Insurance_Valid_Till, Location, Registration_State]
Index: []

In [17]:
# replace missing mileage values with mean
df['Mileage_kmpl']=df['Mileage_kmpl'].fillna(df['Mileage_kmpl'].mean())
df['Mileage_kmpl']

0        20.48
1         8.12
2        16.24
3         9.80
4        23.47
         ...
99995     9.83
99996    13.45
99997    14.44
99998    14.93
99999    13.97
Name: Mileage_kmpl, Length: 100000, dtype: float64

In [18]:
# drop rows where Engine_CC is null
df=df.dropna(subset=['Engine_CC'])

In [19]:
df['Engine_CC'].isnull().sum()

0

In [20]:
# group cars by model_name and calculate average price
df.groupby('Model_Name') ['Price_Ex_Showroom'].mean()

Model_Name
320d    85.361262
520d    85.270653
M3      85.090345
M4      85.223891
X1      84.612881
X3      85.528270
X5      85.401622
X7      84.835493
Z4      85.307179
i8      85.086266
Name: Price_Ex_Showroom, dtype: float64

In [21]:
df['new_col']=df['Car_Age']=2025
df

,ID,Model_Name,Variant,Year,Fuel_Type,Transmission,Engine_CC,Power_BHP,Torque_Nm,Mileage_kmpl,Price_Ex_Showroom,Owner_Type,Insurance_Valid_Till,Location,Registration_State,new_col,Car_Age
0,1,X5,xDrive,2019,Electric,Manual,1496,395.18,492.04,20.48,68.33,Second,2022,Hyderabad,KA,2025,2025
1,2,X5,Luxury Line,2016,Electric,Automatic,1496,312.78,708.05,8.12,118.58,Second,2020,Chennai,DL,2025,2025
2,3,Z4,M Sport,2012,Electric,Semi-Automatic,4395,604.45,550.74,16.24,109.90,Second,2022,Hyderabad,DL,2025,2025
3,4,X7,M Sport,2013,Hybrid,Semi-Automatic,4395,383.04,413.78,9.80,41.05,Fourth & Above,2023,Hyderabad,DL,2025,2025
4,5,X7,xDrive,2010,Electric,Manual,2993,315.78,632.13,23.47,111.08,First,2024,Chennai,TS,2025,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Z4,Sport Line,2014,Hybrid,Semi-Automatic,1998,208.30,385.44,9.83,99.15,First,2022,Chennai,TN,2025,2025
99996,99997,Z4,Sport Line,2021,Electric,Automatic,1496,562.64,730.43,13.45,70.56,Third,2021,Bangalore,TS,2025,2025
99997,99998,M4,Standard,2012,Hybrid,Automatic,2993,140.86,386.50,14.44,44.46,Fourth & Above,2024,Kolkata,DL,2025,2025
99998,99999,X7,Luxury Line,2015,Electric,Manual,4395,434.00,548.41,14.93,84.82,Second,2022,Chennai,TS,2025,2025
99999,100000,520d,Luxury Line,2020,Electric,Semi-Automatic,1496,392.05,307.86,13.97,77.14,Second,2022,Pune,DL,2025,2025

In [22]:
# Filter cars priced above 60 lakh
con=df['Price_Ex_Showroom']=='6000000'
df[con].head(10)

Empty DataFrame
Columns: [ID, Model_Name, Variant, Year, Fuel_Type, Transmission, Engine_CC, Power_BHP, Torque_Nm, Mileage_kmpl, Price_Ex_Showroom, Owner_Type, Insurance_Valid_Till, Location, Registration_State, new_col, Car_Age]
Index: []

In [23]:
# top most common cities
df['Location'].value_counts().head(1)

Location
Ahmedabad    12668
Name: count, dtype: int64

In [24]:
# Apply .loc[] to update fuel type of electric variants
df.loc[df['Variant'].str.contains('electric',case=False),'Fuel_Type']='Electric'
df

,ID,Model_Name,Variant,Year,Fuel_Type,Transmission,Engine_CC,Power_BHP,Torque_Nm,Mileage_kmpl,Price_Ex_Showroom,Owner_Type,Insurance_Valid_Till,Location,Registration_State,new_col,Car_Age
0,1,X5,xDrive,2019,Electric,Manual,1496,395.18,492.04,20.48,68.33,Second,2022,Hyderabad,KA,2025,2025
1,2,X5,Luxury Line,2016,Electric,Automatic,1496,312.78,708.05,8.12,118.58,Second,2020,Chennai,DL,2025,2025
2,3,Z4,M Sport,2012,Electric,Semi-Automatic,4395,604.45,550.74,16.24,109.90,Second,2022,Hyderabad,DL,2025,2025
3,4,X7,M Sport,2013,Hybrid,Semi-Automatic,4395,383.04,413.78,9.80,41.05,Fourth & Above,2023,Hyderabad,DL,2025,2025
4,5,X7,xDrive,2010,Electric,Manual,2993,315.78,632.13,23.47,111.08,First,2024,Chennai,TS,2025,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Z4,Sport Line,2014,Hybrid,Semi-Automatic,1998,208.30,385.44,9.83,99.15,First,2022,Chennai,TN,2025,2025
99996,99997,Z4,Sport Line,2021,Electric,Automatic,1496,562.64,730.43,13.45,70.56,Third,2021,Bangalore,TS,2025,2025
99997,99998,M4,Standard,2012,Hybrid,Automatic,2993,140.86,386.50,14.44,44.46,Fourth & Above,2024,Kolkata,DL,2025,2025
99998,99999,X7,Luxury Line,2015,Electric,Manual,4395,434.00,548.41,14.93,84.82,Second,2022,Chennai,TS,2025,2025
99999,100000,520d,Luxury Line,2020,Electric,Semi-Automatic,1496,392.05,307.86,13.97,77.14,Second,2022,Pune,DL,2025,2025

In [25]:
# Convert Price_Ex_Showroom from lakh to rupee value
df['Price_Ex_Showroom']=df['Price_Ex_Showroom'].astype(str).str.replace('lakh','').astype(float)*100000
df

,ID,Model_Name,Variant,Year,Fuel_Type,Transmission,Engine_CC,Power_BHP,Torque_Nm,Mileage_kmpl,Price_Ex_Showroom,Owner_Type,Insurance_Valid_Till,Location,Registration_State,new_col,Car_Age
0,1,X5,xDrive,2019,Electric,Manual,1496,395.18,492.04,20.48,6833000.0,Second,2022,Hyderabad,KA,2025,2025
1,2,X5,Luxury Line,2016,Electric,Automatic,1496,312.78,708.05,8.12,11858000.0,Second,2020,Chennai,DL,2025,2025
2,3,Z4,M Sport,2012,Electric,Semi-Automatic,4395,604.45,550.74,16.24,10990000.0,Second,2022,Hyderabad,DL,2025,2025
3,4,X7,M Sport,2013,Hybrid,Semi-Automatic,4395,383.04,413.78,9.80,4105000.0,Fourth & Above,2023,Hyderabad,DL,2025,2025
4,5,X7,xDrive,2010,Electric,Manual,2993,315.78,632.13,23.47,11108000.0,First,2024,Chennai,TS,2025,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Z4,Sport Line,2014,Hybrid,Semi-Automatic,1998,208.30,385.44,9.83,9915000.0,First,2022,Chennai,TN,2025,2025
99996,99997,Z4,Sport Line,2021,Electric,Automatic,1496,562.64,730.43,13.45,7056000.0,Third,2021,Bangalore,TS,2025,2025
99997,99998,M4,Standard,2012,Hybrid,Automatic,2993,140.86,386.50,14.44,4446000.0,Fourth & Above,2024,Kolkata,DL,2025,2025
99998,99999,X7,Luxury Line,2015,Electric,Manual,4395,434.00,548.41,14.93,8482000.0,Second,2022,Chennai,TS,2025,2025
99999,100000,520d,Luxury Line,2020,Electric,Semi-Automatic,1496,392.05,307.86,13.97,7714000.0,Second,2022,Pune,DL,2025,2025

In [26]:
# find how many cars are older than 10 years
df[df['Year']<2015].shape[0]

33320

In [27]:
# Count of cars by Owner_Type and Transmission 
df.groupby(['Owner_Type','Transmission']).size()

Owner_Type      Transmission
First           Automatic         8487
                Manual            8223
                Semi-Automatic    8332
Fourth & Above  Automatic         8256
                Manual            8357
                Semi-Automatic    8378
Second          Automatic         8549
                Manual            8175
                Semi-Automatic    8240
Third           Automatic         8373
                Manual            8248
                Semi-Automatic    8382
dtype: int64

In [31]:
df['Power_BHP']=df['Power_BHP'].astype(str).str.replace('bhp','').astype(float)

In [32]:
df['Power_BHP'] = pd.to_numeric(df['Power_BHP'], errors='coerce')

In [33]:
# find maximum BHP in diesel cars
df=pd.read_csv('C:\\Users\\HP\\Documents\\anuradha\\pandas\\dataset\\BMW_Car_Task\\bmw_car_data.csv')
print(df[df['Fuel_Type'] == 'Diesel'] 
['Power_BHP'].max())

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\HP\\Documents\\anuradha\\pandas\\dataset\\BMW_Car_Task\\bmw_car_data.csv'

In [34]:
# find car with maximum mileage
maximum=df.Mileage_kmpl.max()
maximum

25.0

In [35]:
 # minimum mileage
minimum=df.Mileage_kmpl.min()
minimum

8.0

In [36]:
# Remove duplicate rows if any
df.drop_duplicates(inplace=True)
df

,ID,Model_Name,Variant,Year,Fuel_Type,Transmission,Engine_CC,Power_BHP,Torque_Nm,Mileage_kmpl,Price_Ex_Showroom,Owner_Type,Insurance_Valid_Till,Location,Registration_State,new_col,Car_Age
0,1,X5,xDrive,2019,Electric,Manual,1496,395.18,492.04,20.48,6833000.0,Second,2022,Hyderabad,KA,2025,2025
1,2,X5,Luxury Line,2016,Electric,Automatic,1496,312.78,708.05,8.12,11858000.0,Second,2020,Chennai,DL,2025,2025
2,3,Z4,M Sport,2012,Electric,Semi-Automatic,4395,604.45,550.74,16.24,10990000.0,Second,2022,Hyderabad,DL,2025,2025
3,4,X7,M Sport,2013,Hybrid,Semi-Automatic,4395,383.04,413.78,9.80,4105000.0,Fourth & Above,2023,Hyderabad,DL,2025,2025
4,5,X7,xDrive,2010,Electric,Manual,2993,315.78,632.13,23.47,11108000.0,First,2024,Chennai,TS,2025,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Z4,Sport Line,2014,Hybrid,Semi-Automatic,1998,208.30,385.44,9.83,9915000.0,First,2022,Chennai,TN,2025,2025
99996,99997,Z4,Sport Line,2021,Electric,Automatic,1496,562.64,730.43,13.45,7056000.0,Third,2021,Bangalore,TS,2025,2025
99997,99998,M4,Standard,2012,Hybrid,Automatic,2993,140.86,386.50,14.44,4446000.0,Fourth & Above,2024,Kolkata,DL,2025,2025
99998,99999,X7,Luxury Line,2015,Electric,Manual,4395,434.00,548.41,14.93,8482000.0,Second,2022,Chennai,TS,2025,2025
99999,100000,520d,Luxury Line,2020,Electric,Semi-Automatic,1496,392.05,307.86,13.97,7714000.0,Second,2022,Pune,DL,2025,2025

In [37]:
# Apply filter: Diesel+Automation+Above 200 BHP
filter_df=df[(['Fuel_Type']== 'Diesel') & (df['Transmission']=='Automatic')& (df['Power_BHP']>200)]
filter_df

Empty DataFrame
Columns: [ID, Model_Name, Variant, Year, Fuel_Type, Transmission, Engine_CC, Power_BHP, Torque_Nm, Mileage_kmpl, Price_Ex_Showroom, Owner_Type, Insurance_Valid_Till, Location, Registration_State, new_col, Car_Age]
Index: []

In [38]:
# Export filtered data to new Csv
filter_df.to_csv('bmw_car_data_filter.csv',index=False)

In [39]:
df

,ID,Model_Name,Variant,Year,Fuel_Type,Transmission,Engine_CC,Power_BHP,Torque_Nm,Mileage_kmpl,Price_Ex_Showroom,Owner_Type,Insurance_Valid_Till,Location,Registration_State,new_col,Car_Age
0,1,X5,xDrive,2019,Electric,Manual,1496,395.18,492.04,20.48,6833000.0,Second,2022,Hyderabad,KA,2025,2025
1,2,X5,Luxury Line,2016,Electric,Automatic,1496,312.78,708.05,8.12,11858000.0,Second,2020,Chennai,DL,2025,2025
2,3,Z4,M Sport,2012,Electric,Semi-Automatic,4395,604.45,550.74,16.24,10990000.0,Second,2022,Hyderabad,DL,2025,2025
3,4,X7,M Sport,2013,Hybrid,Semi-Automatic,4395,383.04,413.78,9.80,4105000.0,Fourth & Above,2023,Hyderabad,DL,2025,2025
4,5,X7,xDrive,2010,Electric,Manual,2993,315.78,632.13,23.47,11108000.0,First,2024,Chennai,TS,2025,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Z4,Sport Line,2014,Hybrid,Semi-Automatic,1998,208.30,385.44,9.83,9915000.0,First,2022,Chennai,TN,2025,2025
99996,99997,Z4,Sport Line,2021,Electric,Automatic,1496,562.64,730.43,13.45,7056000.0,Third,2021,Bangalore,TS,2025,2025
99997,99998,M4,Standard,2012,Hybrid,Automatic,2993,140.86,386.50,14.44,4446000.0,Fourth & Above,2024,Kolkata,DL,2025,2025
99998,99999,X7,Luxury Line,2015,Electric,Manual,4395,434.00,548.41,14.93,8482000.0,Second,2022,Chennai,TS,2025,2025
99999,100000,520d,Luxury Line,2020,Electric,Semi-Automatic,1496,392.05,307.86,13.97,7714000.0,Second,2022,Pune,DL,2025,2025